.loginwp-data-listing .ptr-loginwp-condition-wrap,
.loginwp-admin ptr-loginwp-condition-wrap * {
    box-sizing: border-box;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-condition-wrap {
    padding: 20px 15px 15px;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-row {
    box-sizing: border-box;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-col {
    width: 49.5%;
    display: inline-block;
    box-sizing: border-box;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-col select {
    width: 100%;
    padding: 0 5px;
    max-width: 100%;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-redirect-wrap,
.loginwp-admin .loginwp-data-listing .ptr-loginwp-order-wrap {
    padding: 0 10px 0 15px;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-redirect-wrap input {
    width: 100%;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-order-wrap th {
    width: 50px;
}

.loginwp-admin .loginwp-data-listing .ptr-loginwp-order-wrap input {
    width: 60px;
    padding-right: 0;
}

.loginwp-admin .loginwp-data-listing .handle-actions {
    display: none
}

.loginwp-admin .loginwp-view-variables {
    text-align: right;
    padding: 15px 10px 0;
}

.loginwp-admin .loginwp-view-placeholders-wrap .loginwp-placeholder {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.loginwp-admin .loginwp-admin-banner {
    background-color: #3C50FF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

.loginwp-admin .loginwp-admin-banner.loginwp-pro {
    padding: 15px 15px 0;
}

.loginwp-admin .wrap {
    padding-left: 20px;
    margin: 0 20px 0 2px;
}

.wp-admin.loginwp-admin #wpcontent {
    padding: 0;
}

.loginwp-admin .loginwp-admin-banner__logo {
    padding: 0 0 15px;
    display: block;
}

.loginwp-admin .loginwp-admin-banner__logo img {
    width: 140px;
    height: auto;
    float: left;
    margin-top: 20px;
    padding-left: 15px;
}

.loginwp-admin .loginwp-admin-banner__helplinks {
    float: right;
    padding: 10px 20px 20px;
}

.loginwp-admin .loginwp-admin-banner__helplinks a {
    color: #ffffffe3;
    text-decoration: none;
}

.loginwp-admin .loginwp-admin-banner__helplinks a.lwp-active {
    background: #fff;
    padding: 5px;
    color: #3C50FF;
    border-radius: 4px;
}

.loginwp-admin .loginwp-admin-banner__helplinks > span {
    padding-right: 15px;
}

.loginwp-admin div#screen-meta-links {
    position: absolute;
    right: 0;
    z-index: 9;
}

.loginwp-admin .loginwp-nav-tab-wrapper {
    padding: 0;
    margin: 0 16px;
    border-bottom: 0;
}

.loginwp-admin .loginwp-nav-tab-wrapper .loginwp-nav-tab {
    display: block;
    font-weight: 500;
    padding: 5px 25px;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: transparent;
    color: #fff;
    margin: 0;
}

.loginwp-admin .loginwp-nav-tab-wrapper .loginwp-nav-tab.loginwp-nav-active {
    background-color: #fff;
    color: #2d3559;
    border-color: #fff;
    border-radius: 4px 4px 0 0;
}

.loginwp-admin .loginwp_redirects th#rul_type {
    width: 16%;
}

.loginwp-admin .loginwp_redirects th#rul_value {
    width: 16%;
}